<app-headercomponent></app-headercomponent>
<div class="centered-container container mx-auto row">

    <mat-grid-list cols = "4" rowHeight = "300px">
      <mat-grid-tile [colspan] = "3"[rowspan] = "2"> 
        <mat-selection-list #task (selectionChange)="onSelection($event, task.selectedOptions)" >
          <h1 class="md-display-3"> Tasks</h1>  
          <!-- <mat-list-option *ngFor="let task of typesOfTasks">{{task}}</mat-list-option> -->
          <mat-list-option *ngFor="let task of tasks index as i" [value]='task'>{{ task.task }}</mat-list-option>

        </mat-selection-list>
        
        <!-- <p>
          Options selected: {{tasks.selectedOptions.selected.length}}
        </p> -->
        
        
      </mat-grid-tile>
      
      <mat-grid-tile [colspan] = "1"[rowspan] = "2">
        <mat-selection-list #user (selectionChange)="onuserSelection($event, user.selectedOptions)">
          <h1 class="md-display-3">Members </h1>  
          <mat-list-option *ngFor="let user of users index as i" [value]='user'>{{ user.firstname }} {{ user.lastname }}</mat-list-option>
          <section>
            <div class="button">
              
              <button mat-raised-button color="primary" (click)="onSubmit()" class="taskbutton">ASSIGN TASK</button>
            </div>
          </section>
        </mat-selection-list>
      </mat-grid-tile>
      
    </mat-grid-list>
  </div>